ion-col {
    text-align:center;
    border: solid 1px black;
    background-color: rgb(236, 243, 252);
}

#topleft {
    border-top-left-radius: 5px;
    
}

#topright {
    border-top-right-radius: 5px;
}

#bottomleft {
    border-bottom-left-radius: 5px;
}

#bottomright {
    border-bottom-right-radius: 5px;
}

#rates {
    border: solid 1px black;
    background-color: rgb(239, 244, 250);
}

ion-button {
    max-height: min-content;
}

ion-grid {
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 75%;
}