<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Exchange</ion-title>
  </ion-toolbar>
  <ion-back-button></ion-back-button>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Currency Exchange</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-grid>
      <ion-row>
        <ion-col><h3>Currencies</h3></ion-col>
        <ion-col><h3>Exchange Rates</h3></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><i>Press a currency below to view it's exchange rates.</i></ion-col>
        <ion-col><i>Every 1 {{activeCurrencyID}} is worth...</i></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-row *ngFor="let x of currencies | keyvalue">
            <ion-col id="rates"><ion-button shape="round" size="small" (click)="switchCurrencies(x.key)">{{x.key}}</ion-button></ion-col>
            <ion-col id="rates">{{x.value}}</ion-col>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row *ngFor="let y of activeCurrency | keyvalue">
            <ion-col id="rates">{{y.value}}</ion-col>
            <ion-col id="rates">{{y.key}}</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>


  </div>
</ion-content>
