<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    Welcome to IonBudget.<br>Please select a page below:
    <br>
    <ul style="list-style-type: none;">
      <li><ion-button [routerLink]="['/month']">Month So Far</ion-button></li>
      <li><ion-button [routerLink]="['/exchange']">Current Exchange Rates</ion-button></li>
      <li><ion-button [routerLink]="['/today']">Today's Expenditure/Income</ion-button></li>
    </ul>
    
    
    
  </div>
</ion-content>
